.p-calendar-w-btn-right .p-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p-calendar-w-btn-right .p-datepicker-trigger {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
