.alarm-timeline-container .p-timeline-event-opposite {
  display: none;
}

.truncate {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: no-wrap;
}

.break-text {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

/* Override default datatable text alignment */
.p-datatable .p-datatable-thead > tr > th.p-align-right,
.p-datatable .p-datatable-tbody > tr > td.p-align-right {
  text-align: right !important;
}

.p-datatable .p-datatable-thead > tr > th.p-align-center,
.p-datatable .p-datatable-tbody > tr > td.p-align-center {
  text-align: center !important;
}

.p-datatable .p-datatable-thead > tr > th.p-align-left,
.p-datatable .p-datatable-tbody > tr > td.p-align-left {
  text-align: left !important;
}
